{{> header }}

<main>
    <p>Thank you! All invitations have been accepted. ✅</p>
    <p>You can manage and moderate your context(s), for example add a short description, add a context “profile” image, or create further sub-contexts, via the <strong>udk/rundgang</strong> content management system linked below.</p>
    <p><a href="https://content.udk-berlin.de/moderate" rel="external nofollow noopener noreferrer" target="_blank">https://content.udk-berlin.de/moderate</a></p>
</main>

{{> footer }}
